$animation-width: 50px;
$duration: 1.5s;
$curve: cubic-bezier(0.240, 0.000, 0.760, 1.000);




.loading-container {
  width: $animation-width;
  margin: auto;
  display: none;
}


@keyframes slideRightDown {
  0% {
    margin-left: 0px;
    background-color: #960084;

  }

  25% {
    transform: scale(1.2);
    background-color: #a0018e;
  }

  50% {
    margin-left: $animation-width;
    transform: scale(1);
    background-color: #960084;
  }

  75% {
    transform: scale(0.8);
    background-color: #7c016e;
  }

  100% {
    margin-left: 0px;
    background-color: #960084;
  }
}



.circle {
  margin-top: 20px;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  background-color: navy;
  z-index: 0;
  position: absolute;


  animation-name: slideRightDown;
  animation-duration: $duration;
  animation-timing-function: $curve;
  animation-delay: 0;
  animation-iteration-count: 99;
  animation-direction: none;
  animation-play-state: running;
}


@keyframes orbit2 {
  0% {
    margin-left: $animation-width;
    background-color: #eaeaea;
    z-index: -1;

  }

  25% {
    transform: scale(0.8);
    z-index: -1;
    background-color: #dbdbdb;
  }

  50% {
    margin-left: 0;
    transform: scale(1);
    background-color: #eaeaea;

  }

  75% {
    transform: scale(1.2);
    background-color: #f9f9f9;
    z-index: 1;
  }

  100% {
    margin-left: $animation-width;
    z-index: -1;
    background-color: #eaeaea;
  }
}



.circle2 {
  margin-top: 20px;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  position: absolute;

  animation-name: orbit2;
  animation-duration: $duration;
  animation-timing-function: $curve;
  animation-delay: 0;
  animation-iteration-count: 99;
  animation-direction: none;
  animation-play-state: running;
}



