@import 'loading-animations';
$main-font: helvetica;
$heading-color: white;
$text-width: 90%;
$buttons-width: 80%;

h1 {
  font-family: $main-font;
  color: $heading-color;
  //padding-left: 5px;
  width: $text-width;
  margin: auto;

}

h2 {
  font-family: $main-font;
  color: $heading-color;
  //padding-left: 5px;
  width: $text-width;
  margin: auto;
}

p {
  font-family: $main-font;
  color: $heading-color;
  width: $text-width;
  margin: auto;
}

#route-buttons{
  display:none;
}

.route-buttons{
  width: 50px;
}

.destination-buttons{
  width: 100%;
}

.buttons{
  width: $buttons-width;
  margin: auto;
}

#destination-buttons{
  display:none;
}

#stop-buttons{
  display:none;
}

body {
  height: 900px;
  //width: 80%;
  background-color: navy;
}

button {
      background-color: transparent;
      //margin: auto;
      color: white;
      border: solid;
      text-align: center;
      text-color: white;
      text-decoration: none;
      //display: block;
      font-size: 16px;
      transition: transform 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      margin: 3px;
      a {
        text-decoration: none;
        padding: 10px;
        display: block;
        border: solid;
        font-family: $main-font;
        color: white;
      }


    }
button:hover{
         transform: scale(1.05, 1.05);
      }
