.loading-container {
  width: 50px;
  margin: auto;
  display: none; }

@keyframes slideRightDown {
  0% {
    margin-left: 0px;
    background-color: #0050d1; }
  25% {
    transform: scale(1.2);
    background-color: #0050d1; }
  50% {
    margin-left: 50px;
    transform: scale(1);
    background-color: #0050d1; }
  75% {
    transform: scale(0.8);
    background-color: #0042ad; }
  100% {
    margin-left: 0px;
    background-color: #0050d1; } }

.circle {
  margin-top: 20px;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  background-color: navy;
  z-index: 0;
  position: absolute;
  animation-name: slideRightDown;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.24, 0, 0.76, 1);
  animation-delay: 0;
  animation-iteration-count: 99;
  animation-direction: none;
  animation-play-state: running; }

@keyframes orbit2 {
  0% {
    margin-left: 50px;
    background-color: #af0005;
    z-index: -1; }
  25% {
    transform: scale(0.8);
    z-index: -1;
    background-color: #9b0105; }
  50% {
    margin-left: 0;
    transform: scale(1);
    background-color: #af0005; }
  75% {
    transform: scale(1.2);
    background-color: #bc0006;
    z-index: 1; }
  100% {
    margin-left: 50px;
    z-index: -1;
    background-color: #af0005; } }

.circle2 {
  margin-top: 20px;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  position: absolute;
  animation-name: orbit2;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.24, 0, 0.76, 1);
  animation-delay: 0;
  animation-iteration-count: 99;
  animation-direction: none;
  animation-play-state: running; }

h1 {
  font-family: helvetica;
  font-size: 5em;
  color: white;
  width: 90%;
  margin: auto; }

h2 {
  font-family: helvetica;
  color: white;
  width: 90%;
  margin: auto;
  font-size: 3em; }

p {
  font-family: helvetica;
  color: white;
  width: 90%;
  margin: auto;
  font-size: 3em; }

#route-buttons {
  display: none; }

.route-buttons {
  width: 100px; }

.destination-buttons {
  width: 100%; }

.buttons {
  width: 80%;
  margin: auto; }

#destination-buttons {
  display: none; }

#stop-buttons {
  display: none; }

body {
  height: 1900px;
  background-color: navy; }

button {
  background-color: transparent;
  color: white;
  border: solid;
  text-align: center;
  text-color: white;
  text-decoration: none;
  font-size: 3em;
  transition: transform 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  margin: 3px; }
  button a {
    text-decoration: none;
    padding: 10px;
    display: block;
    border: solid;
    font-family: helvetica;
    color: white; }

button:hover {
  transform: scale(1.05, 1.05); }
