.loading-container {
  width: 50px;
  margin: auto;
  display: none; }

@keyframes slideRightDown {
  0% {
    margin-left: 0px;
    background-color: #960084; }
  25% {
    transform: scale(1.2);
    background-color: #a0018e; }
  50% {
    margin-left: 50px;
    transform: scale(1);
    background-color: #960084; }
  75% {
    transform: scale(0.8);
    background-color: #7c016e; }
  100% {
    margin-left: 0px;
    background-color: #960084; } }

.circle {
  margin-top: 20px;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  background-color: navy;
  z-index: 0;
  position: absolute;
  animation-name: slideRightDown;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.24, 0, 0.76, 1);
  animation-delay: 0;
  animation-iteration-count: 99;
  animation-direction: none;
  animation-play-state: running; }

@keyframes orbit2 {
  0% {
    margin-left: 50px;
    background-color: #eaeaea;
    z-index: -1; }
  25% {
    transform: scale(0.8);
    z-index: -1;
    background-color: #dbdbdb; }
  50% {
    margin-left: 0;
    transform: scale(1);
    background-color: #eaeaea; }
  75% {
    transform: scale(1.2);
    background-color: #f9f9f9;
    z-index: 1; }
  100% {
    margin-left: 50px;
    z-index: -1;
    background-color: #eaeaea; } }

.circle2 {
  margin-top: 20px;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  position: absolute;
  animation-name: orbit2;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.24, 0, 0.76, 1);
  animation-delay: 0;
  animation-iteration-count: 99;
  animation-direction: none;
  animation-play-state: running; }

h1 {
  font-family: helvetica;
  font-size: 5em;
  color: white;
  width: 90%;
  margin: auto; }

h2 {
  font-family: helvetica;
  color: white;
  padding-top: 40px;
  padding-bottom: 20px;
  width: 90%;
  margin: auto;
  font-size: 3em; }

p {
  font-family: helvetica;
  color: white;
  font-size: 3em; }

#transport-type-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 20px; }

.type-buttons {
  margin: 5px;
  min-width: 180px;
  height: 120px; }

#route-buttons {
  display: none;
  flex-flow: row wrap;
  justify-content: space-around; }

#list-for-route-buttons {
  width: 80%;
  margin: auto; }

.route-buttons {
  margin: 5px;
  min-width: 180px;
  height: 120px;
  flex: 1; }

#list-for-destination-buttons {
  margin: auto;
  width: 80%; }

.destination-buttons {
  margin: 5px;
  height: 120px;
  width: 100%; }

#destination-buttons {
  display: none; }

#stop-buttons {
  display: none; }

.stop-buttons {
  margin: 5px;
  height: 120px;
  width: 100%; }

#list-for-stop-buttons {
  margin: auto;
  width: 80%; }

.footer {
  height: 2000px; }

body {
  background-color: #444444; }

button {
  background-color: transparent;
  color: #d3d3d3;
  border: solid;
  text-align: center;
  text-color: white;
  text-decoration: none;
  font-size: 3em;
  transition: transform 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  margin: 0px; }
  button a {
    text-decoration: none;
    border: solid;
    font-family: helvetica; }

button:hover {
  transform: scale(1.05, 1.05); }

button:active {
  background-color: #960084; }
